{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block bodyblock %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static '/img/theme-logo.png' %}" alt="theme-logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:profile_list' %}">directory <br/> યાદી</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="{{ user.profile.get_absolute_url }}">profile <br/> પ્રોફાઇલ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:gallery' %}">photos <br/> ફોટા</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:news' %}">news <br/> સમાચાર</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:blog-view' %}">blog <br/> લેખ</a>
                    </li>
                </ul>
                <div class="account-btn">
                    <a href="{% url 'profile:logout' %}" class="btn" type="submit">sign out / સાઇન આઉટ કરો</a>
                </div>
            </div>
</div>
</nav>
<section class="user-details">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Surname / અટક</b> : {{ item.last_name }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>First Name / નામ</b> : {{ item.first_name }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Father's Name / પિતાનું નામ</b> : {{ item.father_name }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Date of Birth / જન્મતારીખ</b> : {{ item.birth_date }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Area / વિસ્તાર</b> : {{ item.area }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>city/Town / શહેર</b> : {{ item.city }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>State / રાજ્ય</b> : {{ item.state }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Phone no. / ફોન નંબર</b> : {{ item.phone }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Occupation / વ્યવસાય</b> : {{ item.occupation }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Occupation Detail / વ્યવસાયની વિગત</b> : {{ item.occupation_detail }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Education / શિક્ષણ</b> : {{ item.education }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <p><b>Education Detail / શિક્ષણની વિગતો</b> : {{ item.education_detail }}</p>
                    </div>
                </div>

                <a href="{{ item.get_update_url }}" class="btn btn-default edit-btn" type="submit">edit profile / પ્રોફાઇલ બદલો</a>


                <div class="comments">
                    <div>
                        <button class="btn btn-default subprofile-btn" type="submit">add relatives / સંબંધીઓના ડેટીલ્સ ઉમેરો
                        </button>
                        <div class="subprofile" style="display:none;">

                            <form method="POST" class="user-profile">
                              {% csrf_token %}                            
                              <div class="row">
                                <div class="col-md-6 col-lg-3">
                                   <div id="div_id_relation" class="form-group"> <label for="id_relation" class="col-form-label ">
                                    Relation / સંબંધ
                                </label> <div class=""> <input type="text" name="relation" maxlength="10" class="textinput textInput form-control" id="id_relation"> </div> </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div id="div_id_first_name" class="form-group">
                                    <label for="id_first_name" class="col-form-label ">First name / નામ</label>
                                    <div class=""><input type="text" name="first_name" maxlength="50" class="textinput textInput form-control" id="id_first_name" /></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div id="div_id_last_name" class="form-group"><label for="id_last_name" class="col-form-label ">Surname / અટક </label>
                                    <div class=""><input type="text" name="last_name" maxlength="50" class="textinput textInput form-control" id="id_last_name"/></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div id="div_id_father_name" class="form-group"><label for="id_father_name" class="col-form-label ">Father's name / પિતાનું નામ</label>
                                    <div class=""><input type="text" name="father_name" maxlength="50" class="textinput textInput form-control" id="id_father_name"/></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div id="div_id_birth_date" class="input-group date"><label for="id_birth_date" class="col-form-label">
                                    Birth date / જન્મતારીખ
                                </label>
                                <div class="" style="width: 100%;"><input type="text" name="birth_date" class="dateinput form-control" id="id_birth_date" data-provide="datepicker" /></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_genre" class="form-group"><label for="id_genre" class="col-form-label ">gender / જાતિ</label>
                                <div class=""><select name="genre" class="select form-control" id="id_genre">
                                    <option value="">---------</option>
                                    <option value="m">Male / પુરૂષ</option>
                                    <option value="f">Female / સ્ત્રી</option></select></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_phone" class="form-group"><label for="id_phone" class="col-form-label ">Phone no./ ફોન નંબર</label>
                                    <div class=""><input type="number" name="phone" value="7574962407" class="numberinput form-control" id="id_phone" /></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_address" class="form-group"><label for="id_address" class="col-form-label ">Address / સરનામું</label>
                                    <div class=""><textarea name="address" cols="40" rows="5" maxlength="150" class="textarea form-control" id="id_address"></textarea></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_area" class="form-group"><label for="id_area" class="col-form-label ">Area / વિસ્તાર</label>
                                    <div class=""><input type="text" name="area" maxlength="150" class="textinput textInput form-control" id="id_area"/></div>
                                </div>
                                <div id="div_id_city" class="form-group"><label for="id_city" class="col-form-label ">
                                    City / શહેર
                                </label>
                                <div class=""><input type="text" name="city" maxlength="15" class="textinput textInput form-control" id="id_city" /></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_state" class="form-group"><label for="id_state" class="col-form-label ">State / રાજ્ય</label>
                                <div class=""><input type="text" name="state" maxlength="15" class="textinput textInput form-control" id="id_state" /></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_pincode" class="form-group"><label for="id_pincode" class="col-form-label ">Pincode / પીન કોડ</label>
                                <div class=""><input type="number" name="pincode" min="0" class="numberinput form-control" id="id_pincode" /></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_country" class="form-group"><label for="id_country" class="col-form-label ">Country / દેશ</label>
                                <div class=""><input type="text" name="country" maxlength="15" class="textinput textInput form-control" id="id_country"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_email" class="form-group"><label for="id_email" class="col-form-label ">Email / ઇમેઇલ</label>
                                <div class=""><input type="text" name="email" maxlength="150" class="textinput textInput form-control" id="id_email"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_marital_status" class="form-group"><label for="id_marital_status" class="col-form-label ">Marital status / વૈવાહિક સ્થિતિ</label>
                                <div class=""><select name="marital_status" class="select form-control" id="id_marital_status"}>
                                    <option value="">---------</option>
                                    <option value="s">Single / અપરિણિત</option>
                                    <option value="m">married / વિવાહિત</option>
                                    <option value="d">Divorced / છૂટાછેડા લીધા</option>
                                    <option value="w">Widowed / વિધવા</option></select></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_education" class="form-group"><label for="id_education" class="col-form-label ">Education / શિક્ષણ</label>
                                    <div class=""><input type="text" name="education" maxlength="150" class="textinput textInput form-control" id="id_education"/></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_occupation" class="form-group"><label for="id_occupation" class="col-form-label ">Occupation / વ્યવસાય</label>
                                    <div class=""><input type="text" name="occupation" maxlength="150" class="textinput textInput form-control" id="id_occupation"/></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_education_detail" class="form-group"><label for="id_education_detail" class="col-form-label ">Education detail / શિક્ષણની વિગતો</label>
                                    <div class=""><textarea name="education_detail" cols="40" rows="5" class="textarea form-control" id="id_education_detail"></textarea></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div_id_occupation_detail" class="form-group"><label for="id_occupation_detail" class="col-form-label ">Occupation detail / વ્યવસાયની વિગત</label>
                                    <div class=""><textarea name="occupation_detail" cols="40" rows="5" class="textarea form-control" id="id_occupation_detail"></textarea></div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-btn text-right">
                            <button type="submit" class="btn">save / સાચવો</button>
                        </div>
                    </form>
                </div>
            </div>
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap responsive order-column stripe" style="width:100%">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Surname / અટક</th>
                        <th>First Name / નામ</th>
                        <th>Father's Name/ પિતાનું નામ</th>
                        <th>Date of Birth / જન્મતારીખ</th>
                        <th>Area / વિસ્તાર</th>
                        <th>city/Town/ શહેર</th>
                        <th>State/ રાજ્ય</th>
                        <th>Country/ દેશ</th>
                        <th>Phone no./ ફોન નંબર</th>
                        <th>Occupation/ વ્યવસાય</th>
                        <th>Occupation Detail/ વ્યવસાયની વિગત</th>
                        <th>Education/ શિક્ષણ</th>
                        <th>Education details/ શિક્ષણની વિગતો</th>
                        <th>Update/ ફેરફાર</th>
                        <th>DELETE/ કાઢી નાંખો</th>
                    </tr>
                </thead>
                
                <tbody>
                   {% for subprofile in subprofiles %}
                   <tr>
                    <td>
                        <a href="{% url "profile:profile_detail" id=subprofile.id %}">{{ forloop.counter }}</a>
                    </td>
                    <td>{{ subprofile.last_name }}</td>
                    <td>{{ subprofile.first_name }}</td>
                    <td>{{ subprofile.father_name }}</td>
                    <td>{{ subprofile.birth_date }}</td>
                    <td>{{ subprofile.area }}</td>
                    <td>{{ subprofile.city }}</td>
                    <td>{{ subprofile.state }}</td>
                    <td>{{ subprofile.country }}</td>
                    <td>{{ subprofile.phone }}</td>
                    <td>{{ subprofile.occupation }}</td>
                    <td>{{ subprofile.occupation_detail }}</td>
                    <td>{{ subprofile.education }}</td>
                    <td>{{ subprofile.education_detail }}</td>
                    <td><a href="{{ subprofile.get_update_url }}">UPDATE</a></td>
                    <td><a href="{{ subprofile.get_delete_url }}">DELETE</a></td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
</div>
</div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-info">
                    <h3 class="title">for help call</h3>
                    <ul>
                        <li>dilip lakhani : 9879140593</li>
                        <li>velji kachhadiya : 9712028988</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
