{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block bodyblock %}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static '/img/theme-logo.png' %}" alt="theme-logo" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:profile_list' %}">directory <br/> યાદી</a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link" href="{{ user.profile.get_absolute_url }}">profile <br/> પ્રોફાઇલ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:gallery' %}">photos <br/> ફોટા</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:news' %}">news <br/> સમાચાર</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:blog-view' %}">blog <br/> લેખ</a>
                    </li>
                </ul>
                <div class="account-btn">
                     <a href="{% url 'profile:logout' %}" class="btn" type="submit">sign out / સાઇન આઉટ કરો</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="user-details">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Surname / અટક</b> : {{ item.last_name }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>First Name / નામ</b> : {{ item.first_name }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Father's Name / પિતાનું નામ</b> : {{ item.father_name }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Date of Birth / જન્મતારીખ</b> : {{ item.birth_date }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Area / વિસ્તાર</b> : {{ item.area }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>city/Town / શહેર</b> : {{ item.city }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>State / રાજ્ય</b> : {{ item.state }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Phone no. / ફોન નંબર</b> : {{ item.phone }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Occupation / વ્યવસાય</b> : {{ item.occupation }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Occupation Detail / વ્યવસાયની વિગત</b> : {{ item.occupation_detail }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Education / શિક્ષણ</b> : {{ item.education }}</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <p><b>Education Detail / શિક્ષણની વિગતો</b> : {{ item.education_detail }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-info">
                    <h3 class="title">for help call</h3>
                    <ul>
                        <li>dilip lakhani : 9879140593</li>
                        <li>velji kachhadiya : 9712028988</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
