{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% load static %}
{% block bodyblock %}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static '/img/theme-logo.png' %}" alt="theme-logo" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:profile_list' %}">directory <br/> યાદી</a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link" href="{{ user.profile.get_absolute_url }}">profile <br/> પ્રોફાઇલ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:gallery' %}">photos <br/> ફોટા</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:news' %}">news <br/> સમાચાર</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:blog-view' %}">blog <br/> લેખ</a>
                    </li>
                </ul>
                <div class="account-btn">
                    <a href="{% url 'profile:logout' %}" class="btn" type="submit">sign out / સાઇન આઉટ કરો</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="update-deatils">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-wrapper text-center">
                        <h2 class="title">Update Profile</h2>
                    </div>
                </div>
                <form method="post" class="user-profile">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_first_name" class="form-group">
                                <label for="id_first_name" class="col-form-label ">First name / નામ</label>
                                <div class=""><input type="text" name="first_name" maxlength="50" class="textinput textInput form-control" id="id_first_name" {% if subprofile_form.first_name != None %}value="{{ subprofile_form.first_name }}"{% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_last_name" class="form-group"><label for="id_last_name" class="col-form-label ">Surname / અટક </label>
                                <div class=""><input type="text" name="last_name" maxlength="50" class="textinput textInput form-control" id="id_last_name" {% if subprofile_form.last_name != None %}value="{{ subprofile_form.last_name }}"{% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_father_name" class="form-group"><label for="id_father_name" class="col-form-label ">Father's name / પિતાનું નામ</label>
                                <div class=""><input type="text" name="father_name" maxlength="50" class="textinput textInput form-control" id="id_father_name" {% if subprofile_form.father_name != None %}value="{{ subprofile_form.father_name }}"{% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_birth_date" class="input-group date"><label for="id_birth_date" class="col-form-label">
                                Birth date / જન્મતારીખ
                            </label>
                                <div class="" style="width: 100%;"><input type="text" name="birth_date" class="dateinput form-control" id="id_birth_date" data-provide="datepicker" {% if subprofile_form.birth_date != None %}value="{{ subprofile_form.birth_date }}"{% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_genre" class="form-group"><label for="id_genre" class="col-form-label ">gender / જાતિ</label>
                                <div class=""><select name="genre" class="select form-control" id="id_genre">
                                        <option value="">---------</option>
                                        <option value="m">Male / પુરૂષ</option>
                                        <option value="f">Female / સ્ત્રી</option></select></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_phone" class="form-group"><label for="id_phone" class="col-form-label ">Phone no./ ફોન નંબર</label>
                                <div class=""><input type="number" name="phone" value="7574962407" class="numberinput form-control" id="id_phone" {% if subprofile_form.phone.value != None %}value="{{ subprofile_form.phone.value }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_address" class="form-group"><label for="id_address" class="col-form-label ">Address / સરનામું</label>
                                <div class=""><textarea name="address" cols="40" rows="5" maxlength="150" class="textarea form-control" id="id_address">{% if subprofile_form.address != None %}{{ subprofile_form.address }}{% endif %}</textarea></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_area" class="form-group"><label for="id_area" class="col-form-label ">Area / વિસ્તાર</label>
                                <div class=""><input type="text" name="area" maxlength="150" class="textinput textInput form-control" id="id_area" {% if subprofile_form.area != None %}value="{{ subprofile_form.area }}" {% endif %}/></div>
                            </div>
                            <div id="div_id_city" class="form-group"><label for="id_city" class="col-form-label ">
                                City / શહેર
                            </label>
                                <div class=""><input type="text" name="city" maxlength="15" class="textinput textInput form-control" id="id_city" {% if subprofile_form.city != None %}value="{{ subprofile_form.city }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_state" class="form-group"><label for="id_state" class="col-form-label ">State / રાજ્ય</label>
                                <div class=""><input type="text" name="state" maxlength="15" class="textinput textInput form-control" id="id_state" {% if subprofile_form.state != None %}value="{{ subprofile_form.state }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div id="div_id_pincode" class="form-group"><label for="id_pincode" class="col-form-label ">Pincode / પીન કોડ</label>
                                <div class=""><input type="number" name="pincode" min="0" class="numberinput form-control" id="id_pincode" {% if subprofile_form.pincode != None %}value="{{ subprofile_form.pincode }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_country" class="form-group"><label for="id_country" class="col-form-label ">Country / દેશ</label>
                                <div class=""><input type="text" name="country" maxlength="15" class="textinput textInput form-control" id="id_country"{% if subprofile_form.country != None %} value="{{ subprofile_form.country }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_email" class="form-group"><label for="id_email" class="col-form-label ">Email / ઇમેઇલ</label>
                                <div class=""><input type="text" name="email" maxlength="150" class="textinput textInput form-control" id="id_email"{% if subprofile_form.email != None %} value="{{ subprofile_form.email }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_marital_status" class="form-group"><label for="id_marital_status" class="col-form-label ">Marital status / વૈવાહિક સ્થિતિ</label>
                                <div class=""><select name="marital_status" class="select form-control" id="id_marital_status"}>
                                    <option value="">---------</option>
                                    <option value="s">Single / અપરિણિત</option>
                                    <option value="m">married / વિવાહિત</option>
                                    <option value="d">Divorced / છૂટાછેડા લીધા</option>
                                    <option value="w">Widowed / વિધવા</option></select></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_education" class="form-group"><label for="id_education" class="col-form-label ">Education / શિક્ષણ</label>
                                <div class=""><input type="text" name="education" maxlength="150" class="textinput textInput form-control" id="id_education"{% if subprofile_form.education != None %} value="{{ subprofile_form.education }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_occupation" class="form-group"><label for="id_occupation" class="col-form-label ">Occupation / વ્યવસાય</label>
                                <div class=""><input type="text" name="occupation" maxlength="150" class="textinput textInput form-control" id="id_occupation"{% if subprofile_form.occupation != None %} value="{{ subprofile_form.occupation }}" {% endif %}/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_education_detail" class="form-group"><label for="id_education_detail" class="col-form-label ">Education detail / શિક્ષણની વિગતો</label>
                                <div class=""><textarea name="education_detail" cols="40" rows="5" class="textarea form-control" id="id_education_detail">{% if subprofile_form.education_detail != None %}{{ subprofile_form.education_detail }}{% endif %}</textarea></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_id_occupation_detail" class="form-group"><label for="id_occupation_detail" class="col-form-label ">Occupation detail / વ્યવસાયની વિગત</label>
                                <div class=""><textarea name="occupation_detail" cols="40" rows="5" class="textarea form-control" id="id_occupation_detail">{% if subprofile_form.occupation_detail != None %}{{ subprofile_form.occupation_detail }}{% endif %}</textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-btn text-right">
                        <button type="submit" class="btn">save / સાચવો</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<script>
 $("#id_genre").val('{{ subprofile_form.genre }}');
 $("#id_marital_status").val('{{ subprofile_form.marital_status }}');
</script>
{% endblock %}