{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% block title %}
{{ title }}
{% endblock %}
{% block bodyblock %}
<div class="login-form account-form">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="theme-logo">
					<img src="{% static '/img/logo.png' %}" alt="sarsay-gam-CDR-logo" class="img-fluid">
				</div>
			</div>
			<div class="col-md-6">
				<div class="title-wrapper text-center">
					<h2 class="title">login</h2>
				</div>
				<form method="POST" action="" class="login">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="submit-btn text-right"><button type="submit" class="btn">submit</button></div>
				</form>
				<p class="text-center">Don't have an account? <a href="{% url 'profile:signup' %}" class="theme-color text-capitalize">sign up</a></p>
				<p class="text-center">શું કોઈ એકાઉન્ટ નથી? <a href="{% url 'profile:signup' %}" class="theme-color text-capitalize">સાઇન અપ કરો</a></p>
			</div>
		</div>
	</div>    
</div>
{% endblock %}