{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% block title %}
{{ title }}
{% endblock %}
{% block bodyblock %}
<div class="signup-form account-form">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="theme-logo">
					<img src="{% static '/img/logo.png' %}" alt="sarsay-gam-CDR-logo" class="img-fluid">
				</div>
			</div>
			<div class="col-md-6">
				<div class="title-wrapper text-center">
					<h2 class="title">sign up</h2>
				</div>
				<form method="POST" action="" class="signup">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="submit-btn text-right"><button type="submit" class="btn">submit / સબમિટ કરો</button></div>
				</form>
				<p class="text-center">already have an account? <a href="{% url 'profile:login' %}" class="theme-color text-capitalize">login</a></p>
				<p class="text-center">પહેલેથી એકાઉન્ટ છે? <a href="{% url 'profile:login' %}" class="theme-color text-capitalize">લૉગિન</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}