{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}

{% block bodyblock %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
        <button type="submit">SUBMIT</button>
    </form>

{% endblock %}