{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}

{% block bodyblock %}
    <p>First Name : <b>{{ item.imageblog_title }}</b></p>
    <p>Images : <img src="{{ item.mainimage.url }}"></p>
    {% for subprofile in subprofiles %}

        <p>Images : <img src="{{ subprofile.extraimage.url }}"></p>

    {% endfor %}

{% endblock %}