{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}

{% block bodyblock %}
    <p>First Name : <b>{{ item.imageblog_title }}</b></p>
    <p>Images : <img src="{{ item.mainimage.url }}"></p>

    ADD MORE IMAGES(Ony JPEG)
    <hr/>
    {% for subprofile in subprofiles %}
        <p>Images: <img src="{{ subprofile.extraimage.url }}"></p>
    {% endfor %}


        <div class="moreimages">
            <hr/>
            <form method="POST">
                {% csrf_token %}
                {{ subprofile_form|crispy }}
                <button class="btn btn-default" type="submit">SAVE</button>
            </form>

        </div>

{% endblock %}