{% extends 'templates/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block bodyblock %}


        {% for item in Profile_List %}

                <td><a href="{% url "profile:imageblog_detail" id=item.id %}">{{ forloop.counter }}</a></td>
                <td>{{ item.imageblog_title|upper }}</td>
                <td><img src="{{ item.mainimage.url }}"></td>


        {% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if Profile_List.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ Profile_List.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ Profile_List.number }} of {{ Profile_List.paginator.num_pages }}.
        </span>

        {% if Profile_List.has_next %}
            <a href="?page={{ Profile_List.next_page_number }}">next</a>
            <a href="?page={{ Profile_List.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}