{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}

{% block bodyblock %}
    <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
        <img src="{{ item.mainimage.url }}">
        <button type="submit">SAVE</button>
    </form>

{% endblock %}