{% extends 'templates/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% load static %}
{% block bodyblock %}
<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="{% static '/img/theme-logo.png' %}" alt="theme-logo" class="img-fluid">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:profile_list' %}">directory <br/> યાદી</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ user.profile.get_absolute_url }}">profile <br/> પ્રોફાઇલ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:gallery' %}">photos <br/> ફોટા</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:news' %}">news <br/> સમાચાર</a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link" href="{% url 'profile:blog-view' %}">blog <br/> લેખ</a>
                    </li>
                </ul>
                <div class="account-btn">
                     <a href="{% url 'profile:logout' %}" class="btn" type="submit">sign out / સાઇન આઉટ કરો</a>
                </div>
            </div>
</div>
</nav>
<section class="blog-details">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{% for blog in Blogs %}
				<article>
					<h2 class="blog-title">{{ blog.blog_title }}</h2>
					<div class="blog-info">{{ blog.blog_text }}</div>
				</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="contact-info">
					<h3 class="title">for help call</h3>
					<ul>
						<li>dilip lakhani : 9879140593</li>
						<li>velji kachhadiya : 9712028988</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}