{% extends 'templates/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
 {% load static %}
{% block bodyblock %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static '/img/theme-logo.png' %}" alt="theme-logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item  active">
                        <a class="nav-link" href="{% url 'profile:profile_list' %}">directory <br/> યાદી</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ user.profile.get_absolute_url }}">profile <br/> પ્રોફાઇલ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:gallery' %}">photos <br/> ફોટા</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:news' %}">news <br/> સમાચાર</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:blog-view' %}">blog <br/> લેખ</a>
                    </li>
                </ul>
                <div class="account-btn">
                     <a href="{% url 'profile:logout' %}" class="btn" type="submit">sign out / સાઇન આઉટ કરો</a>
                </div>
            </div>
</div>
</nav>
<section class="list-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered dt-responsive nowrap responsive order-column stripe" style="width:100%">
                        <thead>
                            <tr>
                                <th>Index</th>
                                <th>Surname <br/> અટક</th>
                                <th>First Name / નામ</th>
                                <th>Father's Name/ પિતાનું નામ</th>
                                <th>Date of Birth / જન્મતારીખ</th>
                                <th>Area / વિસ્તાર</th>
                                <th>city/Town/ શહેર</th>
                                <th>State/ રાજ્ય</th>
                                <th>Country/ દેશ</th>
                                <th>Phone no./ ફોન નંબર</th>
                                <th>Occupation/ વ્યવસાય</th>
                                <th>Occupation Detail/ વ્યવસાયની વિગત</th>
                                <th>Education / શિક્ષણ</th>
                                <th>Education details/ શિક્ષણની વિગતો</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in Profile_List %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.first_name }}</td>
                                <td>{{ item.last_name }}</td>
                                <td>{{ item.father_name }}</td>
                                <td>{{ item.birth_date }}</td>
                                <td>{{ item.area }}</td>
                                <td>{{ item.city }}</td>
                                <td>{{ item.state }}</td>
                                <td>{{ item.country }}</td>
                                <td>{{ item.phone }}</td>
                                <td>{{ item.occupation }}</td>
                                <td>{{ item.occupation_detail }}</td>
                                <td>{{ item.education }}</td>
                                <td>{{ item.education_detail }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-info">
                    <h3 class="title">for help call</h3>
                    <ul>
                        <li>dilip lakhani : 9879140593</li>
                        <li>velji kachhadiya : 9712028988</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
    {% endblock %}