{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href='../static/css/style.css'>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<title></title>
</head>
<body>
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="{% static '/img/theme-logo.png' %}" alt="theme-logo" class="img-fluid">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:profile_list' %}">directory <br/> યાદી</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ user.profile.get_absolute_url }}">profile <br/> પ્રોફાઇલ</a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link" href="{% url 'profile:gallery' %}">photos <br/> ફોટા</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:news' %}">news <br/> સમાચાર</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:blog-view' %}">blog <br/> લેખ</a>
                    </li>
                </ul>
                <div class="account-btn">
                     <a href="{% url 'profile:logout' %}" class="btn" type="submit">sign out / સાઇન આઉટ કરો</a>
                </div>
            </div>
	</div>
</nav>
<div class="photo-gallery">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="title-wrapper text-center">
					<h2 class="title">social work</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="{% static '/img/1.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/2.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/3.jpeg' %}" alt="img1" class="img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="title-wrapper text-center">
					<h2 class="title">invitation</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="{% static '/img/4.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/5.jpeg' %}" alt="img1" class="img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="title-wrapper text-center">
					<h2 class="title">sneh milan</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="{% static '/img/6.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/9.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/11.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/10.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/7.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/8.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/13.jpeg' %}" alt="img1" class="img-fluid">
			</div>
			<div class="col-sm-4">
				<img src="{% static '/img/12.jpeg' %}" alt="img1" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="contact-info">
					<h3 class="title">for help call</h3>
					<ul>
						<li>dilip lakhani : 9879140593</li>
						<li>velji kachhadiya : 9712028988</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>